[[!ChangePassword?
   &submitVar=`change-password`
   &placeholderPrefix=`cp.`
   &validateOldPassword=`1`
   &validate=`nospam:blank`

]]

      <form class="callme" action="[[~[[*id]]]]" method="post">
        <input type="hidden" name="nospam" value="" />
        <div class="clearfix">
        <label for="password_old">Старый пароль</label>
        <div class="input">
            <input type="password" name="password_old" id="password_old" value="[[+cp.password_old]]" />
            <p class="help-block text-error">[[!+cp.error.password_old]]</p>
        </div>
        </div>
        
        <div class="clearfix">
        <label for="password_new">Новый пароль</label>
        <div class="input">
            <input type="password" name="password_new" id="password_new" value="[[+cp.password_new]]" />
            <p class="help-block text-error">[[!+cp.error.password_new]]</p>
        </div>
        </div>
        
        <div class="clearfix">
        <label for="password_new_confirm">Новый пароль еще раз</label>
        <div class="input">
            <input type="password" name="password_new_confirm" id="password_new_confirm" value="[[+cp.password_new_confirm]]" />
            <p class="help-block text-error">[[!+cp.error.password_new_confirm]]</p>
        </div>
        </div>
        
        <div class="clearfix">
        <div class="form-buttons">
                <input type="submit" value="Сменить пароль!" name="change-password" class="btn primary" style="width: 165px; height: 30px;" />
        </div>
        </div>
       </form>
